.store-container {
    padding: 20px;
    max-width: 1200px;
    /* min-height: 100vh; 
    height: auto; */
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.store-header {
    background: #e0acac;
    color: rgb(27, 28, 45);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.store-logo-main {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
    border: 3px solid #910000;
    box-shadow: 0 0 20px black;
}

.btn-main {
    margin: 10px 0px;
}

.btn-edit-store {
    background: rgb(65, 56, 48);
    border: 1px solid #3498db;
    color: #3498db;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-edit-store:hover {
    background: #3498db;
    color: rgb(77, 77, 77);
}

/* Grid */
.store-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px 0px;
    /* grid-auto-rows: min-content;
    overflow: visible; 
    height: auto */
}

.product-card {
    min-height: 300px;
    /* height: 100%; */
    background: rgb(236, 218, 203);
    color: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    /* font-size: 90%; */
}

.btn-edit-prod {
    align-self: center;
    margin-bottom: auto;
    background: #a75b5b;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-edit-prod:hover {
    background: #333;
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* background-color: #a39b742a; */
    /* border-radius: 12px; */
}

.card-product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-price {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

/* Add New Card (plus) */
.add-new {
    border: 3px dashed #ccc;
    background: #ffffff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.plus-wrapper {
    text-align: center;
    color: #888;
}

.plus-icon {
    font-size: 50px;
    display: block;
    line-height: 1;
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(61, 61, 61, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(177, 131, 131);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
}

.modal-content.wide {
    max-width: 800px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.stats label {
    font-weight: bold;
    color: #e4e4e4;
    margin-top: 10px;
    display: block;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.btn-save {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
}