
/* .filters-sidebar {
    width: 350px;
    background: #3d3d3d;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    height: fit-content;
    position: sticky;
    top: 20px;
} */

.filters-sidebar {
    width: 350px;
    background: #3d3d3d;
    /*  MAIN L GRAY */

    padding: 0;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    height: fit-content;
    position: sticky;           /*!*/
    top: 20px;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.filter-item {
    margin-bottom: 25px;
}

.filter-item label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #c7c7c7;
}

.filter-item input[type="range"] {
    width: 100%;
    accent-color: #ff3e3e;
    cursor: pointer;

    display: none;
}
.filters-header {
    background: #1a1a1a;
    /* Ваш MAIN D GRAY */
    padding: 20px 25px;
    border-bottom: 1px solid #444;
}

.filters-header h3 {
    margin: 0;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.filters-body {
    padding: 25px;
}

.filter-item {
    margin-bottom: 30px;
}

.filter-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    color: #c7c7c7;
    font-size: 0.95rem;
}


.filter-values {
    color: #00ff7f;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.5px;
}


.slider-wrapper {
    padding: 0 10px;
}

.filters-loading {
    color: #888;
    text-align: center;
    padding: 20px 0;
    font-style: italic;
}

.filters-sidebar h3 {
    background-color: #1a1a1a;
    color: white;
    text-shadow: #910000 3px 3px;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ff3e3e;
}

.rc-slider-handle {
    touch-action: none; /*disab sys gest */
    user-select: none;  /* disabl text select */
}

.rc-slider-handle-dragging {
    box-shadow: 0 0 0 5px rgba(255, 62, 62, 0.3) !important; 
    cursor: grabbing !important;
}